altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
greenlet==3.0.3
idna==3.6
loguru==0.7.2
packaging==24.0
pefile==2023.2.7
playwright==1.42.0
pyee==11.0.1
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
requests==2.31.0
toml==0.10.2
typing_extensions==4.10.0
urllib3==2.2.1
win32-setctime==1.1.0
